.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

 .header{
  padding: 5vh;
  background-color: lightcoral;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items:center;
  color: white
} 

input{
  width: 30vw;
  height: 5vh;
  border: solid 2px lightcoral ;
  font-size: 17px;
}

.buttonContainer{
  display: flex;
  justify-content: center;  
  align-items: center;  
}

.addButton{
  background-color: lightpink;
  border: white;
  color: white;
  height: 5vh;
  width: 15vw;
  font-size: 15px;
}

.checkButton{
 font-size: 10px;
 border-color: lightcoral;
 margin: 5px;
 background-color: white;
 border-radius: 10%;
 
}

